<div>
  <!-- heading || button -->
  <div class="flex	justify-content-between align-items-center my-2 px-2">
    <span class="font-medium text-2xl">Employee List</span>
    <p-button (onClick)="showDialog()" label="Add New" />
  </div>

  <!-- table -->
  <div style="margin-top: 10px;">
    <p-table [value]="employee" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date of birth</th>
          <th>Department Id</th>
          <th>Manager Id</th>
          <th>Salary</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.dateOfBirth | date }}</td>
          <td>{{ employee.departmentId }}</td>
          <td>{{ employee.managerId }}</td>
          <td>{{ employee.salary }}</td>
          <td>
            <i (click)="handleEdit(employee)" class="pi pi-pen-to-square mr-3 cursor-pointer"
              style="font-size: 1.5rem;color: green;"></i>
            <i (click)="handleDelete(employee.employeeId)" class="pi pi-trash cursor-pointer"
              style="font-size: 1.5rem;color: red;"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- modal -->
  <div class="my-2 px-2">
    <p-dialog (visibleChange)="showDialog()" header="Add Department" [(visible)]="visible" [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
      [resizable]="false">
      <form [formGroup]="employeeForm" (ngSubmit)="submit()" class="mt-3">
        <div class="field">
          <label for="name" class="block font-medium mb-2">Employee Name:</label>
          <input id="name" type="text" formControlName="name" class="p-inputtext p-component w-full"
            [ngClass]="{ 'p-invalid': employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched }" />
          <small *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched" class="p-error">
            Employee name is required.
          </small>
        </div>
        <div class="field">
          <label for="dateOfBirth" class="block font-medium mb-2">Date of Birth:</label>
          <p-calendar class="w-100" id="dateOfBirth" dateFormat="dd/mm/yy" formControlName="dateOfBirth"
            [ngClass]="{ 'p-invalid': employeeForm.get('dateOfBirth')?.invalid && employeeForm.get('dateOfBirth')?.touched }" />
          <small *ngIf="employeeForm.get('dateOfBirth')?.invalid && employeeForm.get('dateOfBirth')?.touched"
            class="p-error">
            Date of birth is required.
          </small>
        </div>
        <div class="field">
          <label for="departmentId" class="block font-medium mb-2">Department</label>
          <p-dropdown
           id="departmentId"
           [options]="departmentDropDown"
           optionValue="departmentId"
           formControlName="departmentId"
           class="p-component w-full"
           optionLabel="name"
           [ngClass]="{ 'p-invalid': employeeForm.get('departmentId')?.invalid && employeeForm.get('departmentId')?.touched }"
           placeholder="Select"
           />
          <small *ngIf="employeeForm.get('departmentId')?.invalid && employeeForm.get('departmentId')?.touched"
            class="p-error">
            Department is required.
          </small>
        </div>

        <div class="field">
          <label for="managerId" class="block font-medium mb-2">Manager:</label>
          <p-dropdown
           id="managerId"
           [options]="employee"
           formControlName="managerId"
           class="p-component w-full"
           optionValue="employeeId"
           optionLabel="name"
           placeholder="Select"
           />
        </div>

        <div class="field">
          <label for="salary" class="block font-medium mb-2">Salary:</label>
          <input id="salary" type="number" formControlName="salary" class="p-inputtext p-component w-full"
            [ngClass]="{ 'p-invalid': employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched }" />
          <small *ngIf="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched" class="p-error">
            Salary is required.
          </small>
        </div>

        <button type="submit" class="p-button p-button-success mt-3" [disabled]="employeeForm.invalid">Save</button>
      </form>
    </p-dialog>
  </div>
</div>
